@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{
  background: rgb(250, 250, 250);
  font-family: FontAwesome;
}
.container{
  max-width:1000px;
}
.navbar{
  background: #fff!important;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.397);
}
/* .navbar-nav{
  margin-left: 60%;
} */
.navbar-nav i{
  font-size: 1.5rem;
  color:#000;
  margin:3px;
}
.search{
  width:90%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.search input{
 width:32%;
 height:30px;
 font-size:0.9rem;
 padding:0px 50px;
}
.profile_picture{
  width:30px;
  height:30px;
  border-radius: 50%;
  display: inline-block;
  margin:10px;
}
.story{
  display: block;
  margin:10px;
  white-space: nowrap;
  overflow: scroll;
  padding:5px;
}
.story::-webkit-scrollbar{
  display: none;
}
.story img{
  width:100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
}
.story_img{
  display: inline-block;
  height:4.5vmax;
  width:4.5vmax;
  margin:15px 5px;
  border-radius: 50%;
 padding:2px;
 border:2px solid #c62f91;
}
.add_comment{
  padding:2px 15px;
 border: 0.5px solid rgba(128, 128, 128, 0.397);
}
.add_comment input{
  border:0px solid white;
  width:77%;
}
.post{
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0.5px 0.5px 2px rgba(128, 128, 128, 0.397),-0.5px -0.5px 2px rgba(128, 128, 128, 0.397);
  width:620px;
}
.post h6{
  display: inline-block;
  margin:13px;
}
.dot{
  float:right;
  font-size: 1.5rem;
  margin:5px;
}
.post-img{
  width: 620px;
  height:600px;
  margin:auto;
}
.post-icon{
  margin:10px;
}
.post-icon i{
  font-size: 1.5rem;
  margin:10px;
}
.liked{
  display: inline-block;
  margin:3px;
}
.add_comment i{
  font-size: 1.5rem;
  display: inline-block;
}
.suggestion-img{
  display: inline-block;
  height:4.5vmax;
  width:4.5vmax;
  border-radius: 50%;
}
.msg-btn{
  background: rgb(3, 91, 255);
  color:white;
  border-radius:10px;
  border:0px solid white;
  padding:7px;
  margin:10px;
}
.flex{
  height:80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile{
  height:150px;
  height: 150px;
  margin:30px;
  margin-left:80px;
  border-radius: 50%;
}
.profile-details{
  padding-left:60px;
}
.profile-details span{
  margin:20px;
  font-size: 1.1rem;
}
.profile-details h3{
  display: inline-block;
  margin:20px;
}
.profile-details button{
  background: white;
  border-radius:5px;
  border:1px solid grey;
  margin:10px;

}
.profile-details i{
  font-size: 1.5rem;
  margin:10px;
}
.profile-details p{
  margin:20px;
}
.highlights{
  display: inline-block;
  height:5vmax;
  width:5vmax;
  margin:15px 15px;
  border-radius: 50%;
 padding:2px;
 border:2px solid #c62f91;
}
.high{
  display: block;
  margin:10px;
  padding:5px;
  margin-bottom: 30px;
}
.high img{
  width:100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
}