h3{
    display: inline-block;
    margin:2vmin;
    font-size: 3vmin;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    background:  linear-gradient(145deg, #0f1316, #12161a)!important;
}
*{
    margin:0.5vmin;
    padding:0.5vmin;
}
.add{
    margin:1vmin!important;
    background: linear-gradient(145deg, #0f1316, #12161a);
    box-shadow:  2px 2px 7px #07080a,-2px -2px 7px #1b2226;
    padding:auto;
    border-radius: 50%;
    border:0px solid white;
    transform: scale(1.1);
    color:white;
    margin-left:5vmin!important;
}
h1{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin:5vmin;
}
.delete{
    float:right;
    margin:1vmin 0vmin!important;
    background: linear-gradient(145deg, #0f1316, #12161a);
    box-shadow:  2px 2px 7px #07080a,-2px -2px 7px #1b2226;
    padding:5px;
    border-radius: 50%;
    border:0px solid white;
    transform: scale(1.1);
    color:white;
}
.App{
    color:hsl(0, 0%, 100%);
    padding:60px;
    border-radius: 15px;
    background: linear-gradient(145deg, #0f1316, #12161a);
    box-shadow:  5px 5px 13px #07080a,-5px -5px 13px #1b2226;
}
 input[type="checkbox" i]{
    background-color: #000!important;
    transform: scale(2);
} 